header{
	width: 100%;
	height: 80px;
}
header>.wrap{
	width: 1420px;
	height: 79px;
	background: #6b0d0d;
	border-bottom: 1px solid #36383a;
	margin: 0 auto;
}
header>.wrap>.wrap_box{
	width: 1220px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
header>.wrap>.wrap_box>.logo{
	width: 92px;
	height: 42px;
	background: url(../img/logo.png) no-repeat;
	background-size: 100%;
}
header>.wrap>.wrap_box>.nav{
	height: 100%;
	padding-left: 160px;
	display: flex;
	justify-content: space-around;
}
header>.wrap>.wrap_box>.nav>ul{
	height: 79px;
	width: 630px;
	display: flex;
	justify-content: space-around;
}
header>.wrap>.wrap_box>.nav>ul>li{
	height: 100%;
	position: relative;
}
header>.wrap>.wrap_box>.nav>ul>li>a{
	display: flex;
	align-items: center;
	height: 100%;
	color: #e1d1b9;
}
header>.wrap>.wrap_box>.nav>ul>li:last-child>a{
	border-bottom: 3px solid #fff;
	color: #fff;
	box-sizing:border-box;
}
header>.wrap>.wrap_box>.nav>ul>li:hover>a{
	border-bottom: 3px solid #fff;
	color: #fff;
	box-sizing:border-box;
}
header>.wrap>.wrap_box>.right{
	width: 100px;
	height: 100%;
	padding-left: 238px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header>.wrap>.wrap_box>.right>i{
	display: block;
	width: 1px;
	height: 12px;
	background: #e1d1b9;
}
header>.wrap>.wrap_box>.right>a{
	display: block;
	width: 20px;
	height: 20px;
}
header>.wrap>.wrap_box>.right>.sousuo{
	background: url(../img/icon.png) 20px -5px;
}

header>.wrap>.wrap_box>.right>.sousuo:hover{
	background: url(../img/icon.png) 20px -44px;
}
header>.wrap>.wrap_box>.right>.rentou{
	background: url(../img/icon.png) -6px -5px;
}

header>.wrap>.wrap_box>.right>.rentou:hover{
	background: url(../img/icon.png) -6px -44px;
}
header>.wrap>.wrap_box>.right>.erji{
	background: url(../img/icon.png) -54px -5px;
}
header>.wrap>.wrap_box>.right>.erji:hover{
	background: url(../img/icon.png) -54px -44px;
}
section{
	width: 100%;
}
section>.section_wrap{
	width: 640px;
	margin: 80px auto 0;
	background: #fefefe;
}
section>.section_wrap>.title{
	padding: 15px 20px;
	text-align: center;
	font-size: 24px;
	color: #222;
	font-weight: 600;
}
section>.section_wrap>.huanying{
	width: 100%;
	padding: 12px 30px 10px;
	box-sizing:border-box;
	font-size: 14px;
	color: #333;
}
section>.section_wrap>.tp{
	width: 580px;
	height: 324px;
	margin: 20px auto 0;
	padding: 0 30px;
	box-sizing:border-box;
	background: url(../img/5ffd17e9954ec2b09e4709f0a9ffc9e9.png) center no-repeat;
	background-size: cover;
}
section>.section_wrap>.jianci{
	width: 100%;
	padding: 12px 30px 0;
	box-sizing:border-box;
	font-size: 14px;
	color: #333;
}
section>.section_wrap>.jianci>span{
	display: block;
}
section>.section_wrap>.jianci>a{
	display: block;
}
section>.section_wrap>.jianci>a>img{
	width: 100%;
}
section>.section_wrap>.jianci>p{
	text-align: center;
	margin-top: -5px;
    font-size: 12px;
}
section>.section_wrap>.jianci>.tet{
	margin-top: 0;
	font-size: 14px;
}
section>.section_wrap>.jianci>img{
	width: 100%;
}
section>.section_wrap>.jianci>i{
	display: block;
	font-style: normal;
	font-size: 12px;
}
section>.section_wrap>.jianci>.btn{
	width: 100%;
	padding: 30px 30px 10px;
	box-sizing:border-box;
}
section>.section_wrap>.jianci>.btn>.button{
	display: block;
	width: 80px;
	height: 30px;
	margin: 10px auto;
	text-align: center;
	padding: 7px 20px;
	box-sizing:border-box;
	color: #fff;
	background: #0c4067;
	border-radius: 3px;
}
section>.section_wrap>.jianci>.btn>.button:hover{
	opacity: 0.8;
}
section>.section_wrap>.jianci>.maike{
	display: block;
	width: 100%;
	height: 21px;
	text-align: center;
	line-height: 21px;
	color: rgba(0,0,0,0.5);
	background: #F4F5F0;
}
section>.section_wrap>.jianci>.maike>span{
	display: inline-block;
	width: 32px;
	height: 21px;
	background: url(../img/formCom.png) -436px center no-repeat;
	vertical-align: middle;
}
footer{
	width: 100%;
	height: 126px;
	margin-top: 100px;
}
footer>.footer_wrap{
	width: 1420px;
	height: 100%;
	margin: 0 auto;
	border-top: 1px solid #2d2522;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
    color: #5f4838;
    box-sizing:border-box;
}
footer>.footer_wrap>.list{
	width: 1220px;
	height: 85px;
	margin: 0 auto;
	position: relative;
}
footer>.footer_wrap>.list>.gotop{
	position: absolute;
    top: -50px;
    right: 0;
    background: url(../img/gotop.png) no-repeat right 0px;
    color: #5f4838;
    padding-right: 33px;
    font-size: 12px;
}
footer>.footer_wrap>.list>.gotop:hover{
	color: #ccac82;
    background-position-y: -15px;
    font-size: 12px;
}
footer>.footer_wrap>.list>.list_left{
	float: left;
}
footer>.footer_wrap>.list>.list_left>.link{
	margin-bottom: 20px;
	box-sizing:border-box;
}
footer>.footer_wrap>.list>.list_left>.link>a{
	color: #5f4838;
	font-size: 12px;
}
footer>.footer_wrap>.list>.list_left>.link>a:hover{
	color: #ccac82;
}
footer>.footer_wrap>.list>.list_left>.link>span{
	height: 12px;
    display: inline-block;
    width: 1px;
    background-color: #3a2f2b;
    margin: 0 19px;
}
footer>.footer_wrap>.list>.list_left>.link>.qijian{
	font-size: 18px;
}
footer>.footer_wrap>.list>.list_left>.copy{
	font-size: 12px;
	font-family: Arial Regular;
}
footer>.footer_wrap>.list>.list_left>.copy>i{
	font-style: normal;
}
footer>.footer_wrap>.list>.list_left>.copy>span{
    text-align: right;
    margin-left: 10px;
}
footer>.footer_wrap>.list>.list_right{
	float: right;
}
footer>.footer_wrap>.list>.list_right>.contact{
	margin-bottom: 17px;
	box-sizing: border-box;
}
footer>.footer_wrap>.list>.list_right>.contact>.tel{
	font-size: 24px;
    background: url(../img/tel.png) no-repeat left center;
    color: #89674c;
    font-family: Arial;
    padding-left: 30px;
}
footer>.footer_wrap>.list>.list_right>.contact>.bt{
	width: 100%;
	height: 40px;
}
footer>.footer_wrap>.list>.list_right>.contact>.bt>.renzheng{
	display: block;
	height: 40px;
	width: 110px;
	float: right;
	background: url(../img/bottom_small_img.png);
}